<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>listar productos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>categoria</td>
                <td>pcompra</td>
                <td>pventa</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for producto in producto %}
                    <td>{{ producto.name }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.pcompra }}</td>
                    <td>{{ producto.pventa }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</body>
</html>